


#contenedor-padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}






/* aqui va lo nuevo*/

.game-board {
    display: grid;
    
   
    
  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
   width: 621px;
   height: 213px;
    justify-items: center; /* Centra horizontalmente las celdas */
    align-items: center; /* Centra verticalmente las celdas */
    position :relative;
    top : -443px;
    right: -46px;
    color :  rgb(182, 104, 134); 
    text-align: center; 
    
  }
  
  
 
  

  

  #campo-de-juego {
    position: relative; 
    width: 725px; 
    height: 500px;
  }
  
  #campo-de-juego img {
    
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    left: 0; 
    z-index: -1; 
  }




  .custom-btn {
    width: 50px;
    height: 50px;
    background-color:#139648;
    position : relative;
    bottom: 280px;
    right: -15px;
   

  
  }

 





.cell {
  width: 100px; 
  height: 50px; 
  background-color: transparent; 
  border: none; 
}


.custom-card{
position: relative;
bottom: 0px;
right:-30px;




}



.custom-btn2 {
  width: 50px;
  height: 50px;
  
  position : relative;
  bottom: 280px;
  right: -15px;
 


}


.start {
  background-color: transparent;
  border: none;
  height: 200px;
  width: 200px;
  position: relative;
 
    border: none;
    outline: none;
  
  top:280px;
  left: 620px;
 
}




body {
  background-image: url('../img/brasilia.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center; 
  overflow: hidden;
}




#explicacion{
  height: 250px;
  width: 150px;
position: relative;
left:0px;
top: 20px;




}



#explicacion img {
 width: 50px;  
 height: 50px;
 position: relative;
 
}




#caja-generador{
  display: flex;
  flex-direction: row;
width: 240px;
height: 100px;

}



div#caja-generador div{
  width: 24px;
  height: 100px;
  
  

  /* background-color: #139648; */

} 

#end-screen{
  display : none;
  position: relative;
  top : 200px;
  left: 625px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);





}

#start-screen{
 position: relative;
 top: 50%;
left: 40%;
transform: translate(-50%, -50%);

} 







#explicacionpr{
  height: 700px;
  width: 500px;
  position: relative;
  top: 1000px;
  color: white;
  font-size: 20px;
  left: 80px;
  top : 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 25px;
  flex-direction: column;
  position: relative;
  padding-top: 25px; 
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  backdrop-filter: blur(20px);
  background-color: rgb(112 112 112 / 12%);
 
 
 
}




.start2 {
  background-color: transparent;
  border: none;
  height: 200px;
  width: 200px;
  position: relative;
 
    border: none;
    outline: none;
    top : 20px;
    left: 10px;
    
  
  
    
 
}



/* #content{
  position: relative;
  top: 50%;
  left: 10%;
} */

.container.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 25px;
  flex-direction: column;
  position: relative;
  padding-top: 25px; 
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  backdrop-filter: blur(20px);
  background-color: rgb(112 112 112 / 12%);
}


.logo{
  position: relative;
  top: 10%;
  left: 30%;
  
  
}

.progressBar {
  width: 41%;
  height: 30px;
  border: 5px solid #ffdf00;
  position: relative;
  background-color: rgb(252, 250, 170);
  border-radius: 15px;
  top : -300px;
  left :345px;
}

#currentProgress {
width: 0; 
height: 25px; 
background-color: #ffdf00; 
transition: width 1s ease;
}


