body {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orangered;
    background-image: url(../img/fondo.png);
}

main {
    width: 930px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    border: white bold; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25) inset;
}

h1 {

    text-align: center;
    

}

button {

    height: 100px;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 0 0 0;
    position: relative; /* Asegúrate de que los botones tengan posición absoluta para moverse libremente */
    transition: all 0.3s ease;
}

.section2 {


    width: 250px;
    height: 400px;
    padding: 0px 20px;

}

.stats {

    border: 1px solid white;
    height: 100px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}

img{

width: 80%;

}

#game{
display: none;

}
.SeleccionInicio{
color:orangered;
font-weight: bold;

display: none;
width: 730px;
margin: 300px auto;
align-items: center;
backdrop-filter: blur(10px);
border: white bold;
padding: 15px;
border-radius: 8px;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25) inset;

}

.SeleccionInicio button{

height: 75px;
width: 130px;
font-size: 40px;
font-weight: bold;
border-radius: 8px;
box-shadow: 2px 0 0 0;

}

.SeleccionInicio img{
    width: 60%;

    
}

select{

border-radius: 8px;

}

.seleccionNivel{
    color:orangered;
    font-weight: bold;
    
    display: block;
    width: 300px;
    margin: 300px auto;
    align-items: center;
    backdrop-filter: blur(10px);
    border: white bold;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25) inset;

}

.seleccionNivel button{
    height: 75px;
    width: 140px;
    margin-right: 10px;
    
}

.seleccionNivel img{
    width: 100%;

}

#endGame{

    color:orangered;
    font-weight: bold;
    
    display: none;
    width: 290px;
    height: 770px;
    margin: 100px auto;
    align-items: center;
    backdrop-filter: blur(10px);
    border: white bold;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25) inset;

}

.stats2 {

    border: 1px solid white;
    height: 250px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}

.stats2 img{

    width: 60%;

}

#loserGame{

    color:orangered;
    font-weight: bold;
    
    display: none;
    width: 400px;
    height: 220px;
    margin: 300px auto;
    align-items: center;
    backdrop-filter: blur(10px);
    border: white bold;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25) inset;
}

.stats3{
    border: 1px solid white;
    width: 370px;
    height: 80px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;

}

#loserGame button{
    height: 75px;
    width: 140px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.section2.just{
    width: 400px !important;

}

#loserGame img{

    width: 60%;

}
.ajusteImg{
    
}